*{
    margin: 0 ;
    padding: 0; 
}
/***************************
Fonts
*************************/
@font-face {
    font-family: 'Fut';
    src: url('../fonts/FuturaExtended.eot');
    src: url('../fonts/FuturaExtended.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaExtended.woff2') format('woff2'),
        url('../fonts/FuturaExtended.woff') format('woff'),
        url('../fonts/FuturaExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bran';
    src: url('../fonts/BrannbollFet.eot');
    src: url('../fonts/BrannbollFet.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrannbollFet.woff2') format('woff2'),
        url('../fonts/BrannbollFet.woff') format('woff'),
        url('../fonts/BrannbollFet.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/****Fin Fonts ******/
html{
    scroll-behavior: smooth;
}
/************HEADER************/
header{
    height: 100vh ; /*Toute la hauteur de la page*/
    background: url("../img/fond.jpg") bottom right; /*fixed; ?*/
    background-size: cover; /* J'occupe tout l'espace */
    display: flex; /* le contenu devient flexible*/
    justify-content: center; /*répartition sur la largeur*/
    align-items: center;/*répartition sur la hauteur*/
}
header nav{
    /*Pas besoin de hauteur et largeur, elle va faire la position de ses enfants*/
    position: fixed;/*position de la nav*/
    top:50%;
    left: 5%;
}
header nav ul{
    list-style: none;/**/
}
header nav ul li{
    /*margin : 0 20px;*/
    padding: 10px 0; /**/
    text-shadow: 2px 2px 6px black; /*Valeur des x, valeur des y, flou et couleur*/
}
header nav ul li:first-of-type{
    border-bottom: 3px solid white;/* épaisseur style couleur*/
}
header nav ul li a{
    text-decoration:none;/*supprime le soulignement*/
    text-transform: uppercase;/*txt en majuscule*/
    color: white;/*couleur du txt*/
    font-size: 30px;/*taille du txt*/
    font-weight:bold;/*epaisseur du txt*/
    font-family: "Fut";
    margin-top: 20px ;
}
header div{
    width: 250px; /*largeur de la div*/
    height: 250px;/* hauteur de la div*/
    background: #333; /* couleur*/
    border-radius: 50%; /* arrondir les angles*/
    display: flex; /* le contenu devient flexible*/
    justify-content: center; /*répartition sur la largeur*/
    align-items: center;/*répartition sur la hauteur*/
}
header h1{
    color: white; /*couleur du txt*/
    text-align: center;/*aligement du txt*/
    font-family: "Bran";
    font-size: 40px;/*la taille de la font*/
    line-height: 46px;/* hauteur de l'interligne*/
}
header h1::first-letter{
    text-transform: uppercase;
}
/**************MAIN****************/
/**style sections **/
main{
    display: flex;
    justify-content: right;
    background: #333;
}
section{
    width: 70%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div{
    overflow: hidden;
}

section div .pho{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 50px;
}

section div .pho:hover{
    transform: scale(1.5);
    transition: 1s;
}

/**************FOOTER****************/
footer{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}