*{
    margin: 0 ;
    padding: 0; 
}
/***************************
Fonts
*************************/
@font-face {
    font-family: 'Fut';
    src: url('../fonts/FuturaExtended.eot');
    src: url('../fonts/FuturaExtended.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaExtended.woff2') format('woff2'),
        url('../fonts/FuturaExtended.woff') format('woff'),
        url('../fonts/FuturaExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bran';
    src: url('../fonts/BrannbollFet.eot');
    src: url('../fonts/BrannbollFet.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrannbollFet.woff2') format('woff2'),
        url('../fonts/BrannbollFet.woff') format('woff'),
        url('../fonts/BrannbollFet.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/****Fin Fonts ******/
/*****HTML****/
html{
    scroll-behavior: smooth;/*ajoute un effet sur le scroll au clique*/
}
/*****HTML*****/
/************HEADER************/
header{
    height: 100vh ; /*Toute la hauteur de la page*/
    background: url("../img/fond.jpg") bottom right fixed; 
    background-size: cover; /* J'occupe tout l'espace */
    display: flex; /* le contenu devient flexible*/
    justify-content: center; /*répartition sur la largeur*/
    align-items: center;/*répartition sur la hauteur*/
}
header nav{
    /*Pas besoin de hauteur et largeur, elle va faire la position de ses enfants*/
    position: fixed;/*position de la nav*/
    top:50%;
    left: 5%;
    transform: translateY(-50%);/*Permet de remonter de 50% de la taille de l'élément
    pour le centrer parfaitement sur la hauteur*/
}
header nav ul{
    list-style: none;/**/
}
header nav ul li{
    /*margin : 0 20px;*/
    padding: 10px 0; /**/
    text-shadow: 2px 2px 6px black; /*Valeur des x, valeur des y, flou et couleur*/
}
header nav ul li:first-of-type{
    border-bottom: 3px solid white;/* épaisseur style couleur*/
}
header nav ul li a{
    text-decoration:none;/*supprime le soulignement*/
    text-transform: uppercase;/*txt en majuscule*/
    color: white;/*couleur du txt*/
    font-size: 30px;/*taille du txt*/
    font-weight:bold;/*epaisseur du txt*/
    font-family: "Fut";
    margin-top: 20px ;
}
header div{
    width: 250px; /*largeur de la div*/
    height: 250px;/* hauteur de la div*/
    background: #333; /* couleur*/
    border-radius: 50%; /* arrondir les angles*/
    display: flex; /* le contenu devient flexible*/
    justify-content: center; /*répartition sur la largeur*/
    align-items: center;/*répartition sur la hauteur*/
}
header div h1{
    color: white; /*couleur du txt*/
    text-align: center;/*aligement du txt*/
    font-family: "Bran";
    font-size: 40px;/*la taille de la font*/
    line-height: 46px;/* hauteur de l'interligne*/
}
header div h1::first-letter{
    text-transform: uppercase;
}
/**************MAIN****************/
main{
    display: flex;
    justify-content: flex-end;/*droite posible mais ne fonctionne pas sur l'ensemble des nav*/
    background: #333;
}
main section{
    width: 70%;
    padding: 100px 0; /*padding sur la section pas sur le main - éviter que toutes les sections soient impactées*/
    display: flex;
    flex-wrap: wrap;
}

main section>div{
    overflow: hidden;
    position: relative;/* permet à la div enfant de dépendre de son parent*/
    cursor: pointer;
    margin: 20px;
}
main section div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

main section div .pho{
    width: 100%; /*Fera toujours la taille de la div*/
    opacity: 0.7;/* opacité sur une image*/
    transition: 0.5s;
}
main section>div>.rond{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255,0.5);
    transform: scale(0.8);/*Permet la réduction par le centre*/
    transition: 0.5s;/*transition se met sur l'élément qui s'anime*/
}

main section>div:hover .rond{ /*hover sur le parent pour atteindre l'enfant*/
    transform: scale(0); /*va créer une résudtion*/
}
main section>div:hover .pho{
    transform: scale(1.2);
}
/************FIN DU MAIN*************/
/**************FOOTER****************/
footer{
    height: 300px;
    background: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bran";
    color: white;
    font-size: 20px;
}